body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 350px;
    border: 6px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: #1a1a1a;
}


h3 {
    text-align: center;
    color: #61dafb; /* Header color */
}
input[type="text"] {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
}

.nums {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777; 
}

.operation-btn {
    background-color: #ff8c00;
}

.operation-btn:hover {
    background-color: #e07e00;
}

.equals-btn {
    background-color: #008000;
}

.equals-btn:hover {
    background-color: #006400;
}